body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    text-align: center !important;
    background-color: #f8f9fa;
    transition: background-color 0.1s, color 0.1s;
    
  }
  
  header {
    margin-bottom: 20px;
  }
  
  #game_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center;
    margin: 10px auto;
    max-width: 650px;
  }
  
  .card {
    width: 100px;
    height: 150px;
    perspective: 1000px;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card.matched {
    visibility: hidden;
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-back {
      background-image: url("back.png");
      background-size: cover;
  }
  
  .card-front {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  
  .dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  .dark-theme .card-back {
    background-image: url("back-dark.png");
    background-size: cover;
  }

  #light {
    background-color: #fff !important;
    color: #000 !important;
  }

  .dark-theme .card-front {
    background-color: #333 !important;
  }
  
  .dark-theme .btn {
    background-color: #222 !important;
    color: #fff!important;
    border-color: #1d2124 !important;
    box-shadow: 0 0 0 .2rem rgba(82,88,93,.5) !important;
  }
  
  .dark-theme .btn-light {
    background-color: #fff;
    color: #222;
  }

  .btn {
  background-color: #fff !important;
  color: #222!important;
  border-color: #dae0e5 !important;
  box-shadow: 0 0 0 .2rem rgba(216,217,219,.5)!important;
  }

  #difficulty * {
    margin: 4px;
  }
  
  #dark {
    background-color: #222 !important;
    color: #fff !important;
  }

  .dark-theme .btn-warning {
    background-color: #ffcc00;
    color: #000;
  }